{% extends 'store/base.html' %} 
{% block title %} Авторизация {% endblock %} 

{% block content %}

<form action="" method="post" class="form-login">
  {% csrf_token %}

  <!-- ошибки не связанные с заполнением полей -->
  <div class="form-error">{{ form.non_field_errors }}</div>

  {% for el in form %}
  <p>
    <label class="form-label" for="{{ el.id_for_label }}">{{ el.label }} <br> </label>{{ el }}</p>
  <div class="form-error">{{ el.errors }}</div>
  {% endfor %}

  <button type="submit">Sing in</button>
  <p>
    Нет аккаунта? <a href="{% url 'register' %}">Registration</a>
  </p>
</form>

{% endblock %}
