{% extends 'store/base.html' %}


{% block title %}Главная{% endblock %}


{% block content %}
<form action="" method="post" enctype="multipart/form-data" class="form-add-product">
  {% csrf_token %}
  <div class="form-error">{{ form.non_field_errors }}</div>
  <!-- ошибки при выбрасывании исключения -->
  
  {% for el in form %}
  <p>
    <label class="form-label" for="{{ el.id_for_label }}" >{{ el.label }}:</label>{{ el }}</p>
  <div class="form-error">{{ el.errors }}</div>
  {% endfor %}

  <button type="submit">Добавить</button>

</form>
{% endblock %}