{% extends 'store/base.html' %}
{% block title %}
Авторизация
{% endblock %}

{% block content %}

<article class="profile">
  <div class="profile-header">
    <h1>Личный кабинет</h1>
    <div class="profile-btn">
      {% if user.is_superuser == True %}
      <a href="{% url 'add_product' %}">Добавить товар</a>
      {% endif %}
      <a href="{% url 'logout'%}">Выйти из профиля</a>
    </div>
  </div>
  <div class="profile-container">
    <section class="user-info">
      <p>Логин</p>
      <p>{{ user.username }}</p>
      <hr>
      <p>Имя</p>
      <p>{{ user.first_name }}</p>
      <hr>

      <p>Фамилия</p>
      <p>{{ user.last_name }}</p>
      <hr>

      <p>Электронная почта</p>
      <p>{{ user.email }}</p>
    </section>
    <section class="user-orders">
      <h2>Ваши заказы</h2>
      <hr>
    </section>
  </div>
</article>

{% endblock %}
